{% extends 'base.html.twig' %}

{% block body %}
    <div id="main-banner">
        <img class="logo" src="{{ asset('img/logo.png') }}" alt="Quebra-Quebra" title="Quebra-Quebra" />
    </div> <!--/#main-banner-->

    <div class="container">
        <h1>Quebra-Quebra API</h1>
    </div> <!--/.container-->
{% endblock %}

{% block stylesheets %}

{% endblock %}
